[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "sdmvspecies"]
	path = sdmvspecies
	url = https://github.com/howl-anderson/sdmvspecies
	subdir = sdmvspecies
